body {
    font-family: Arial, sans-serif;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.order-container {
    margin-top: 40px;
    background-color: white;
    width: 350px;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: cadetblue;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    color: black;
}

input,
select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: cadetblue;
    color: white;
    font-size: 16px;
}

#message {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: green;
}